@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

// CUSTOM CSS 
// Global 
body {
	background-color: #EFF7D3;
}
a {
	color: #658361;
}
h2 {
	text-align: center;
	margin-top: 1em;
	font-family: 'Alex Brush', cursive;
	font-size: 6em;
}
.alert,
.notice {
	width: 75%;
	margin: 3em auto 1em;
}
.alert {
	color: #e74c3c;
}
.notice {
	color: #27ae60;
}
.btn {
	background-color: #535A3B;
	&:hover {
		background-color: #A7B99E;
	}
}
.btn-small {
	font-size: .8em;
	height: 32px;
	line-height: 32px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	border-bottom-color: #A7B99E!important;
	box-shadow: 0 1px 0 0 #000!important;
}
// Overwriting materialize CSS framework (see the gem on the Gemfile)
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #A7B99E;
}

// Header bar
header {
	height: 3em;
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	h3 {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
		font-size: 2.7em;
		font-family: 'Alex Brush', cursive;
	}
	.right {
		display: flex;
		align-items: center;
		margin-right: 1em;
	}
	.disconnect {
		height: 1.5em;
		vertical-align: middle;
		margin-left: 1em;
	}
}

// Post index page
.row {
	width: 90%;
	margin: 3em auto 0;
}


// Login & Register 
.new_user,
.new_post,
.edit_post {
	width: 40%;
	display: block;
	margin: 4em auto;
	background-color: #FFF;
	padding: 1.2em 1.7em;
	border-radius: 5px;
	@media screen and (max-width: 750px) {
		width: 100%;
	}
	.btn {
		width: 100%;
		margin: .5em 0;
	}
}